@import "tailwindcss";

:root {
  --background: #eeeeee;
  --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mona-sans);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mona-sans), -apple-system, BlinkMacSystemFont,
    sans-serif;
  font-size: 16px;
  line-height: 1;
  font-weight: 450;
  font-feature-settings: "ss05" on; /* Alternate a */
  letter-spacing: -0.02em;
}

p {
  margin: 0;
}

/* a {
  color: inherit;
  text-decoration: inherit;
} */
